USER_UID=1000
USER_GID=1000
STOP_GRACE_PERIOD=10s
TEST_DEFAULT_DSN=postgres://go:pa55word@postgres:5432/postgres?sslmode=disable
TEST_DSN=postgres://go:pa55word@postgres:5432/short_links_test?sslmode=disable

PROJECT_HOST=
PROJECT_PORT=80
PROJECT_KEY_MAX_LENGTH=12
PROJECT_STORAGE_TYPE=file
FILE_ASYNC=false
DB_DSN=postgres://go:pa55word@postgres:5432/short_links?sslmode=disable
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=25
DB_MAX_OPEN_TIME=15m
DB_TIMEOUT=1
CACHE_ENABLED=false
CACHE_LIMIT=10
LIMITER_ENABLED=true
LIMITER_RPS=2
LIMITER_BURST=4
